ul,
li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 360px;
}

.gallery {
  width: 1440px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  padding-left: 0;
}
