ul,
li {
  list-style-type: none;
}

img {
  display: block;
  cursor: pointer;
}

.gallery {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 12px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 400ms ease;
}
.gallery-image:hover {
  transform: scale(1.05);
}
